body{
    margin: 0 5%;
    padding: 5%;
    overflow-x: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../imgs/me3.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.step{
    font-size: 48px;
    font-weight: bold;
    padding: 10%;
    margin: 30% 0;
    width: 100%;
    box-shadow: none;
    border: none;
}
.row::after{
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
.card-heading{
    box-shadow: 1px 1px 50px 4px brown,
                0px 0px 100px 7px orange,
                0px 0px 200px 10px goldenrod,
                0px 0px 300px 100px gold;
}

.anim-paused{
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.anim-playing{
    animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}
.fix{
    position: fixed;
    top: 0;
    width: 80%;
    height: 100%;
    padding: 10%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.heading{
    margin: 0 auto;
    font-size: 108px;
    opacity: 0.8;
    text-transform: uppercase;
    padding: 5%;
    box-shadow: 1px 1px 50px 4px brown inset,
                0px 0px 100px 7px orange inset,
                0px 0px 200px 10px goldenrod inset,
                0px 0px 300px 100px gold inset;
    text-shadow: 0px 0px 4px black
                -1px -1px 5px black
                -3px -3px 10px black;
    border-radius: 5%;
}

.row{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    color: #122742;
    padding: 1%;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 48;
    box-shadow: 1px 1px 100px 10px black inset,
                0px 0px 200px 7px orange,
                0px 0px 500px 10px orangered,
                0px 0px 1000px 10px white;
    text-shadow: 0px 0px 4px white;
    filter: blur(0px);
}